<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>Author information</h1>
<p>Hello, I'm Linh Yo. Thank to Rails Girls, I have done
the first Rails application.</p>
</body>
</html>